[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
selenium = "*"
python-telegram-bot = "*"
python-dotenv = "*"
random-user-agent = "*"

[dev-packages]
ipython = "*"
isort = "*"
black = "*"
ipdb = "*"

[requires]
python_version = "3.11"
